<% @slogan_idea.extend(SloganIdeaView) %>
<%= render 'shared/notifications', model: @slogan_idea  %>

<section class="py-5 container <%= css_crud %>">
  <div class="card crud" style="width: 25rem;">

    <div class="card-body">

      <h3 class="card-title text-center pb-2">New <%= @slogan_idea.label %></h3>

      <%= render 'form', slogan_idea: @slogan_idea %>

    </div>

  </div>
</section>