
<section class="container-fluid m-0 p-0">

  <div class="jumbotron backdrop min-100 m-0">

    <%= react_component("Countdown", { date: 'April 1, 2020'.to_date }, {prerender: true}) %>

  </div>

</section>
