<table class="table table-bordered table-striped">
  <thead class="thead-light">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>City of Origin</th>
  </tr>
  </thead>

  <tbody>
  <% @riders.each do |rider| %>
      <% rider.extend(RiderView) %>
      <tr>
        <td><%= rider.id %></td>
        <td><%= rider.full_name %></td>
        <td><%= rider.city_of_origin %></td>
      </tr>
  <% end %>
  </tbody>
</table>