<p id="notice"><%= notice %></p>
<section class="py-5 container">

  <h1>Location</h1>

  <div id="map"></div>

</section>

<%= javascript_include_tag "mapbox-gl", "data-turbolinks-track" => true  %>
<%= javascript_include_tag "location", "data-turbolinks-track" => true  %>
