// Responsive styles for the card columns
@media (min-width:376px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width:476px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width:776px) {
  .card-columns {
    column-count: 4;
  }
}


/* ajax loaders */

.loaderParent {
  position: relative;
}

.loader {
  /* cover the parent element*/
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.show-loader .loader {
  display: inline-flex;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Masonry photo wall spacing */
$wall-spacing: 1.3rem;

.gallery,
.photos {

  &.gallery-container {
    background: $gray-300;
    padding-bottom: ($wall-spacing * 2);
  }

  // masonry wall using Bootstrap cards
  .card-columns {
    background: $gray-400;
    column-gap: $wall-spacing;
    padding-top: $wall-spacing;
    padding-right: $wall-spacing;
    padding-left: $wall-spacing;
  }

  .photoInfo {
    position: absolute;
    top: 11px;
    right: 11px;
    visibility: visible;
    z-index: 3;
  }

  // icons within the card
  .photoInfo a {
    font-size: 250%;
    opacity: 1;
    display: inline-block;
    padding: 5px;
    transition: all .4s ease-in-out;
    color: $athletic-red;
  }

  .lightBoxModal .photoInfo a {
    font-size: 350%;
    opacity: 0.5;
    display: inline-block;
    padding: 5px;
    transition: all .4s ease-in-out;
    color: $athletic-red;
  }

  .lightBoxModal .photoInfo a:hover {
    text-decoration: none;
    opacity:1;
  }

  .square {
    .card.landscape {
      background-size: 155%;
    }

    .card.landscape:hover {
      background-size: 158%;
    }
  }

  .boxed {
    .card.portrait {
      background-position: center 12%;
    }
  }


  .card {
    border: 0;
    background-color: #fff;
    background-size: 100%;
    background-position: center center;
    transition: all .5s ease-in-out;
    position: relative;
    margin-bottom: $wall-spacing;

    // placeholder image used for sizing the card
    .img-fluid {
      visibility: hidden;
    }

    // adjust vertical backgrounds to include faces
    &.portrait {
      background-position: center top;
    }

    // zoom background when the card is hovered
    &:hover {
      background-size: 103%;
    }

    // overlay over each card
    &:after {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: all .4s ease-in-out;
      background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.45) 0%,
        rgba(255,255,255,0.15) 30%,
        rgba(255,255,255,0.15) 70%,
        rgba(255,255,255,0.45) 100%
      );
      opacity: 1;
    }

    // fade overlay when the card is hovered
    &:hover:after {
      background: linear-gradient(45deg, rgba(224,239,249,0) 0%, rgba(224,239,249,0) 72%, rgba(14,32,102,1) 100%);
    }

    .photoInfo a {
      font-size: 250%;
      opacity: 0;
    }

    &:hover .photoInfo a {
      opacity: 0.6;

      &:hover {
        opacity: 1;
        color: $athletic-red;
        text-decoration: none;
      }
    }
  }

  // load image to be shown in the modal
  .zoom .img-fluid {
    display: none;
  }

  /* modal lightbox styles */
  .lightBoxModal,
  .modal-profile {

    // scale image vertically
    &,
    .modal-dialog,
    .modal-content,
    .modal-body {
      height: 100%;
      max-width: none;
    }

    // remove gap above the modal
    .modal-dialog {
      margin-top: 0 !important;
    }

    // remove spacing
    .modal-body {
      padding: 0;
    }

    // place close icon on top right
    .close {
      float: none;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index:2;
      color: $athletic-red;
      text-shadow: none;
      background: none;
      opacity:1;
    }

    // remove default styling
    .modal-content {
      background: none;
      border: 0;
    }

    .image-wrapper {
      background: none;
      display: block;
      height: 100%;
      width: 100%;

      img {
        object-fit: contain;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }
  }

  
  // pagination icons
  .page-size .page-item .page-link {
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 36px;
    text-align: center;
  }

  .page-item .page-link.icon-link {
    line-height: 0;
    padding-top: 7px;
    padding-bottom: 6px;
  }

  .page-item .page-link.icon-link svg {
    width: 20px;
    height: 20px;
  }

  .page-item .page-link .icon {
    fill: $pagination-color
  }
  .page-item .page-link:hover .icon {
    fill: $pagination-hover-color
  }
  .page-item.active .page-link .icon {
    fill: $pagination-active-color
  }


}


