.site.index {

  height: 100%;

  main {
    height: 100%;
  }

  .countdownHolder{
    width: 525px;
    margin: 0 auto;
    font: 40px/1.5 'Open Sans Condensed',sans-serif;
    text-align: center;
    letter-spacing: -3px;
  }

  .position{
    display: inline-block;
    height: 1.6em;
    overflow: hidden;
    position: relative;
    width: 1.05em;
  }

  .digit{
    position: absolute;
    display: block;
    width: 1em;
    background-color: #444;
    border-radius: 0.2em;
    text-align: center;
    color: #fff;
    letter-spacing: -1px;
  }

  .digit.static{
    box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
    background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  }



  .countDays{ /* display:none !important;*/ }
  .countDiv0{ /* display:none !important;*/ }
  .countHours{}
  .countDiv1{}
  .countMinutes{}
  .countDiv2{}
  .countSeconds{}


  .countDiv{
    display: inline-block;
    width: 16px;
    height: 1.6em;
    position: relative;
  }

  .countDiv:before,
  .countDiv:after {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #444;
    border-radius: 50%;
    left: 50%;
    margin-left: -3px;
    top: 0.5em;
    box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
    content: '';
  }

  .countDiv:after {
    top: 0.9em;
  }

  #note {
    display: flex;
    justify-content: space-around;
    width: 525px;
    margin: -7px auto 0;
  }
  #note .text {
    display: inline-block;
    width: 20%;
    text-align: center;
  }

}



