
// video header

.videoHeader {

  height: 88vh !important;
  overflow: hidden;

  #videoBg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    min-height: 600px;
    width: auto;
  }

  .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
}

@media(min-width:950px) {
  .videoHeader #videoBg {
    width: 100%;
    height: auto;
  }
}

// the Countdown
.countdown {

  .nav-item {
    width: 18vmin;
    height: 18vmin;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid $neon-white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-link span {
    display: block;
    width: 100%;
    text-align: center;
  }

  .nav-link span.description {
    font-size: 60%;
  }

}


.site.index {

  height: 100%;

  main {
    height: 100%;
  }

  .countdownHolder{
    width: 525px;
    margin: 0 auto;
    font: 40px/1.5 'Open Sans Condensed',sans-serif;
    text-align: center;
    letter-spacing: -3px;
  }

  .position{
    display: inline-block;
    height: 1.6em;
    overflow: hidden;
    position: relative;
    width: 1.05em;
  }

  .digit{
    position: absolute;
    display: block;
    width: 1em;
    background-color: #444;
    border-radius: 0.2em;
    text-align: center;
    color: #fff;
    letter-spacing: -1px;
  }

  .digit.static{
    box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
    background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  }



  .countDays{ /* display:none !important;*/ }
  .countDiv0{ /* display:none !important;*/ }
  .countHours{}
  .countDiv1{}
  .countMinutes{}
  .countDiv2{}
  .countSeconds{}


  .countDiv{
    display: inline-block;
    width: 16px;
    height: 1.6em;
    position: relative;
  }

  .countDiv:before,
  .countDiv:after {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #444;
    border-radius: 50%;
    left: 50%;
    margin-left: -3px;
    top: 0.5em;
    box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
    content: '';
  }

  .countDiv:after {
    top: 0.9em;
  }

  #note {
    display: flex;
    justify-content: space-around;
    width: 525px;
    margin: -7px auto 0;
  }
  #note .text {
    display: inline-block;
    width: 20%;
    text-align: center;
  }

}



